<!doctype html>
<html>
    <head>
        <title>Vue普通版本TODO</title>
        <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    </head>
    <body>
        <style>
            .container {
                width: 640px;
            }

            .table {
                table-layout: fixed;
            }

            .table th {
                text-align: center;
                vertical-align: middle;
            }

            .table td {
                vertical-align: middle;
            }

            .table .todo-number {
                width: 64px;
            }

            .table .todo-operation {
                width: 96px;
            }

            .table .form-check,
            .table .form-check-input {
                margin-right: 0;
            }
        </style>
        <div id="app" class="container">
            <todo-form></todo-form>
            <table class="table table-striped table-hover mt-5">
                <thead class="thead-light">
                    <tr>
                        <th class="todo-number" scope="col">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" value="#">
                            </div>
                        </th>
                        <th scope="col">代办列表</th>
                        <th class="todo-operation" scope="col">操作</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-right">
                            <button type="button" class="btn btn-link btn-sm">全选</button>
                            <button type="button" class="btn btn-link btn-sm">反选</button>
                            <button type="button" class="btn btn-link text-danger btn-sm">清除</button>
                        </td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr is="todo-list-item"></tr>
                </tbody>
            </table>
        </div>
        <script type="text/x-template" id="template-todo-form">
            <form novalidate class="mt-3" :class="{'was-validated': isFormValidated}" @submit.prevent="submit">
                <div class="input-group">
                    <input v-model="todo" type="text" name="todo" class="form-control" placeholder="Todo..." required />
                    <div class="invalid-tooltip">填入有效信息</div>
                    <div class="input-group-append">
                        <button type="submit" class="btn btn-primary" :disabled="isFormInvalid">添加</button>
                    </div>
                </div>
            </form>
        </script>
        <script type="text/x-template" id="template-todo-list-item">
            <tr>
                <th scope="row">
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" value="#">
                    </div>
                </th>
                <td v-if="isEdit" @keyup.esc="deactivateEdit">
                    <form novalidate class="was-validated">
                        <div class="input-group">
                            <input type="text" class="form-control form-control-sm" placeholder="Todo..." required />
                            <div class="invalid-tooltip">填入有效信息</div>
                            <div class="input-group-append">
                                <button type="button" class="btn btn-light btn-sm" @click.prevent="deactivateEdit">取消</button>
                                <button type="submit" class="btn btn-primary btn-sm" disabled>修改</button>
                            </div>
                        </div>
                    </form>
                </td>
                <td v-else @click="activateEdit">
                    Otto
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-link text-danger btn-sm">删除</button>
                </td>
            </tr>
        </script>
        <script src="/node_modules/vue/dist/vue.min.js"></script>
        <script>
            (function () {
                'use strict';

                var TodoForm = {
                    data: function () {
                        return {
                            todo: '',
                            isFormValidated: false,
                        };
                    },
                    computed: {
                        isFormInvalid: function () {
                            return !this.todo;
                        },
                    },
                    created: function () {
                        var unwatch = this.$watch('todo', function () {
                            this.isFormValidated = true;
                            unwatch();
                        });
                    },
                    methods: {
                        submit: function () {
                            console.log(this.todo);
                        },
                    },
                    template: '#template-todo-form',
                };

                var TodoListItem = {
                    data: function () {
                        return {
                            isEdit: false,
                        };
                    },
                    methods: {
                        activateEdit: function () {
                            this.isEdit = true;
                        },
                        deactivateEdit: function () {
                            this.isEdit = false;
                        },
                    },
                    template: '#template-todo-list-item',
                };

                var app = new Vue({
                    el: '#app',
                    components: {
                        TodoForm: TodoForm,
                        TodoListItem: TodoListItem,
                    },
                });
            }());
        </script>
    </body>
</html>
